.poker {
    width: 100%;
    height: 100%;
    position: relative;
}
.poker_backface {
    width: 100%;
    height: 100%;
    background: url(./card.png) no-repeat center;
    background-size: cover;
    border-radius: 16px;
    transform: scaleX(-1);
}
.poker_frontface {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    transform: rotate(calc(var(--angle) * 2deg - 180deg));
}
.poker_frontface > div {
    width: 100%;
    height: 100%;
    background: url(./card.png) no-repeat center;
    background-size: cover;
}
.poker_frontface.flip > div { transform: scale(-1) }
.test_point {
    position: absolute;
    outline: 8px solid blue;
    left: var(--x);
    top: var(--y);
}
.area_indicator {
    width: 100%;
    height: 100%;
    position: absolute;
    border-collapse: collapse;
    border: none;
    table-layout: fixed;
}
.area_indicator td {
    border: 1px solid yellow;
}
.area_indicator tr:nth-child(2) {
    height: var(--vertical_percentage);
}
.area_indicator tr td:nth-child(2) {
    width: var(--horizontal_percentage);
}