#poker_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 64px;
}

#poker_container {
    --height: 600px;
    --aspect_ratio: 5 / 7;
}
#poker_container.vertical {
    height: var(--height);
    aspect-ratio: var(--aspect_ratio);
}
#poker_container.horizontal {
    width: var(--height);
    aspect-ratio: calc(1 / (var(--aspect_ratio)));
}
