.color-picker {
    display: grid;
    grid-row-gap: 40px;
    margin-top: -40px;
}
.color-picker-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    background-color: #FFF;
    /* overflow: hidden; */
    /* padding: 20%; */
}
.color-picker-panel {
    /* width: 100%; */
    aspect-ratio: 1 / 1;
    background: linear-gradient(#FFFFFF, #000000), linear-gradient(to right, #FFFFFF, #FF0000);
    background-blend-mode: multiply;
}
.color-picker-indicator {
    position: absolute;
    width: 10px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    transform: translate(-50%, -50%);
}
.color-picker-max-color-selector {
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, #FF0000, #FFFF00, #00FF00, #00FFFF, #0000FF, #FF00FF, #FF0000);
}
